/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 6.5rem;
    color: white;
    text-align: center;
    padding: 19px;
    background-color: black; 
}

h2 {
    font-size: 3.5rem;
    color: white;
    padding: 15px;
}

h3 {
    font-size: 2.5rem;
}

p, a {
    font-size: 1.7rem;
    color: white;
}

/* header section */

.bloomHeader{
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.8;
    padding: 20px;
}

.links {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header {
    width: 100%;
    height: 78vh;
    background-image: url('../img/home-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

a {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: black;
    opacity: 0.8;
    height: 95px;
}
.icons {
    font-size: 32px;
}


/* spacers */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

/* gallery section */
.gallery {
    padding-top: 80px;
    width: 100%;
    height: max-content;
    text-align: center;
    background-color: rgb(0, 4, 17);
}

img {
    height: 200px;
    width: 300px;
    padding: 13px;
}
.row1 .row2 .row3 {

    display: flex;
    justify-content: space-around;
}

/* about us section */
.about {
    width: 100%;
    height: 65vh;
    text-align: center;
    background-image: url("../img/staff-cooks.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.about-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 4, 17, .8);
}

.about h2 {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 100px;
}

.about h3 {
    padding-bottom: 30px;
}

.about-container .text {
    width: 50%;
    padding-bottom: 1000px;

}

.text {
    text-align: center;
    line-height: 35px;
}

/* contact us section */
.contact {
    text-align: center;
    background-image: url("../img/jumbo-restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 4, 17);
}

.contact-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 17, .8);
}

.contact h2 {
    padding-top: 5vh;
}

.contact h3 {
    padding-top: 2.5vh;
}

.contact p {
    padding: .5vh 0;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.address {
    width: 25%;
}

.hours {
    width: 25%;
    padding-bottom: 2.5vh;
}

.contacts {
    width: 25%;
    font-size: 4rem;
    
}

.contacts a {
    display: flex;
    justify-content: center;
    line-height: 20px;
}
/* footer section */
footer {
    width: 100%;
    font-size: 3rem;
    display: flex;
    background-color: rgb(0, 4, 17);
    border-top: 2px solid grey;
    padding: 20px 20px 10px 20px;
    justify-content: space-between;
}

.contact-us {
    width: 25%;
}

.contact-us h3 {
    text-align: center;
}

.input {
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
}

.input input {
    width: 70%;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.copyright  {
    display:flex;
    justify-content: flex-end;
    width: 90%;
}

.copyright p {
    font-size: 1rem;
}

.right-side{
    width: 60%;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* mobile media query */
@media (max-width: 428px) {
    /* header section */
    header {
        
      
    }

    /* gallery section */
    .gallery {
        height: auto;
        display: flex;
    }
    
    /* about us section */

    .about {
        height: 200vh;
    }
    
    .about h2 {
        width: 100%;
        padding-top: 5vh;
    }
    
    .about-container .text {
        width: 85%;
    }
    
    /* contact us section */
    .contact h3 {
        padding-top: 2.5vh;
    }
    
    .info {
        flex-wrap: wrap;
    }
    
    .address {
        width: 100%;
        padding-bottom: 2.5vh;
    }
    
    .hours {
        width: 100%;
    }
    
    .contacts {
        width: 100%;
        padding-bottom: 2.5vh;
    }

    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        font-size: 1rem;
       
    }
}
